body {
  width: 150px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  color: white;
  overflow: hidden;
}

.neave {
  box-sizing: content-box;
  position: absolute;
  left: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
}

.mute {
  position: absolute;
  width: 38px;
  height: 38px;
  right: 15px;
  top: 15px;
  opacity: 0.5;
  cursor: pointer;
}

.game {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 13%;
  left: 36%;
  float: left;
}

@media screen and (max-width: 800px) {
  body {
    width: auto;
  }
  .game {
    width: 300px;
    height: 300px;
    left: 30%;
  }
}

.box {
  width: 33.333333333%;
  height: 33.333333333%;
  float: left;
  box-sizing: border-box;
  margin: 0;
  border-width: 5px;
  border-color: #fff;
  cursor: pointer;
  padding-top: 20px;
}

 .board {
  width: 100%;
  height: 100%;
  text-align: center;
}

.box.left {
  border-right-style: solid;
}

.box.top {
  border-bottom-style: solid;
}

.box.right {
  border-left-style: solid;
}

.box.bottom {
  border-top-style: solid;
} 

.points {
  width: 100%;
  height: 100%;
  margin-top: 25px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.points p {
  font: 15px "Raleway", sans-serif;
}

.swap {
  width: 30px;
  height: 30px;
}

.p1 {
  margin: 0;
  cursor: pointer;
  display: none;
}
.p2 {
  margin: 0;
  cursor: pointer;
}
.point {
  font-size: 30px;
  cursor: pointer;
}

.active {
  background-color: rgb(148, 147, 143);
}
